:root {
    --col1: #333;
    --col2: #F1F1F1;
    --col3: lightgrey;
}

body {
    background-color: var(--col2);
}

h1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--col2);
    background-color: var(--col1);
    width: 150px;
    height: 50px;
    border: solid 2px var(--col1);
    border-radius: 5px;
}

.conteneurbutton {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAjoutPostIt {
    width: 150px;
    height: 30px;
    background-color: var(--col3);
    color: var(--col1);
    font-weight: bold;
    box-shadow: 2px 2px 5px var(--col1);
    border-radius: 5px;
    cursor: pointer;
    transition: linear 0.3s;
}
.btnAjoutPostIt:hover {
    transform: scale(1.1);
    margin-left: 5px;
    color: var(--col2);
    background-color: var(--col1);
}

.conteneur{
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
}

.postIt{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--col1);
}

.tousLesBoutons {
    display: flex;
    justify-content: space-between;
}

.debug {
    /* display: none; */
    margin-top: 10px;
    padding: 5px;
    background-color: #333;
    color: var(--col2);
    font-weight: bold;
    width: 180px;
    height: 80px;
    border: var(--col2) 1px solid;
    border-radius: 5px;
}